<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjNzA6KgDTfsDdC37j_qMUIOWRkI6Qn58</string>
	<key>GCM_SENDER_ID</key>
	<string>428441725373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.batuhanberkertekin.ToDo-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>to-do-app-swiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-app-swiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428441725373:ios:70931ec7b1149298314ad4</string>
</dict>
</plist>